* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Irish Grover", system-ui;
}

/* For landscape devices*/
.intro {
    position: relative;
    z-index: 1;
    left: 0%;
    top: 0%;
}

.intro>img {
    opacity: 0%;
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0%;
}

.intro>img:nth-child(1) {
    animation: lft 1.5s ease-in-out 0.3s forwards;
    left: 0%;
    top: 0%;
}

.intro>img:nth-child(2) {
    animation: rgt 1.5s ease-in-out 0.3s forwards;
    left: 50%;
    top: 0%;
}

@keyframes lft {
    0% {
        left: -50%;
        opacity: 100%;
    }

    100% {
        left: 0%;
        opacity: 100%;
    }
}

@keyframes lftrev {
    0% {
        left: 0%;
        opacity: 100%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        left: -100%;
        opacity: 0%;
    }
}


@keyframes rgt {
    0% {
        left: 100%;
        opacity: 100%;
    }

    100% {
        left: 50%;
        opacity: 100%;
    }
}

@keyframes rgtrev {
    0% {
        left: 50%;
        opacity: 100%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        left: 150%;
        opacity: 0%;
    }
}


.start-game {
    position: fixed;
    width: 7vw;
    background-color: transparent;
    border: none;
}

.start-game-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game>span {
    font-family: "Irish Grover", system-ui;
    font-size: 2vw;
    letter-spacing: 0.2rem;
    color: #d6b239;
    opacity: 0%;
    animation: txt 1s ease-out 2s forwards;
}

@keyframes txt {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.start-game>img {
    border-radius: 10px;
    width: 100%;
    opacity: 0%;
    animation: rotate 1s ease-out 1.5s forwards;
}

@keyframes rotate {
    0% {
        opacity: 100%;
        transform: scale(0, 0) rotateZ(0deg);
    }

    100% {
        opacity: 100%;
        transform: scale(1, 1) rotateZ(720deg);
    }
}

.start-game>img:is(:hover, :focus) {
    transition: all;
    box-shadow: 0px 0px 5px #d6b239;
}

.start-game:is(:hover, :focus) {
    transition: all;
    text-shadow: 0px 0px 5px #d6b239;
}

.start-game:is(:hover, :focus) {
    transform: scale(1.1, 1.1);
    transition: all;
}



/* For portrait devices */
@media screen and (orientation:portrait) {
    .start-game {
        position: fixed;
        width: 7vh;
        background-color: transparent;
        border: none;
    }

    .start-game>img {
        border-radius: 5px;
        width: 100%;
        opacity: 0%;
        animation: rotate 1s ease-out 1.5s forwards;
    }

    .start-game>span {
        font-family: "Irish Grover", system-ui;
        font-size: 2vh;
        letter-spacing: 0.2rem;
        color: #d6b239;
        opacity: 0%;
        animation: txt 1s ease-out 2s forwards;
    }
}