* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* For landscape devices */
body {
    font-family: "Irish Grover", system-ui;
    background-image: url("./Images/Background.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

.main-display {
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;

}

.main-display>header {
    flex-basis: 10vh;
}

header h1 {
    padding: 1rem;
    background-image: url("./Images/Bg\ font.jpg");
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-size: 40vw auto;
    background-position: center;
    font-size: 3.5vw;
    letter-spacing: 0.5rem;
    text-align: center;
    color: transparent;
    -webkit-filter: drop-shadow(2px 2px 0.5px #000000);
}


.add-btn>img {
    width: 9vw;
    opacity: 75%;
    border: 0.15vw dashed black;
    border-radius: 1.4vw;
}

.add-btn:is(:hover, :focus) {
    transform: scale(1.15, 1.15);
}

.add-btn {
    width: fit-content;
    height: fit-content;
    border: 0;
    background-color: transparent;
    transition-property: all;
    transition-duration: 0.2s;
}

#draw-cards {
    display: none;
    opacity: 0%;
}

@keyframes add-card-btn {
    100% {
        opacity: 100%;
    }
}

.display-cards {
    flex-basis: 40vh;
    padding: 2.5% 0% 2.5% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.display-cards>img {
    width: 9vw;
    height: auto;
    z-index: 1;
    animation-name: draw;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes draw {
    0% {
        transform: translate(150%, 150%) rotateZ(0deg) rotateY(0deg);
    }

    100% {
        transform: translate(0px, 0px) rotateZ(360deg) rotateY(360deg);
    }
}

.card-deck {
    flex-basis: 40vh;
    padding-bottom: 2.5%;
}

.card-deck figure {
    display: flex;
    position: relative;
    justify-content: center;
}

.card-deck img {
    opacity: 0%;
    width: 10vw;
    position: absolute;
    animation: shuffle 1s ease-out 0.5s forwards;
    transform: scale(1.1, 1.1);
}

.card-deck img:nth-child(1) {
    right: 30%;
}

.card-deck img:nth-child(2) {
    right: 35%;
}

.card-deck img:nth-child(3) {
    right: 40%;
}

.card-deck img:nth-child(4) {
    right: 45%;
}

.card-deck img:nth-child(5) {
    right: 50%;
}

.card-deck img:nth-child(6) {
    right: 55%;
}

.card-deck img:nth-child(7) {
    right: 60%
}

@keyframes shuffle {
    0% {
        opacity: 100%;
        right: 60%;
        transform: scale(1.1, 1.1);
    }

    100% {
        opacity: 100%;
        transform: scale(1, 1);
    }
}



/* For portrait devices */
@media screen and (orientation:portrait) {
    body {
        font-family: "Irish Grover", system-ui;
        background-image: url("./Images/Background\ portrait.jpg");
        background-repeat: repeat-y;
        background-size: 100vw 100vh;
        background-attachment: fixed;
    }

    .main-display>header {
        flex-basis: 10vh;
    }

    header h1 {
        padding: 1rem;
        background-image: url("./Images/Bg\ font.jpg");
        -webkit-background-clip: text;
        background-repeat: no-repeat;
        background-size: 40vh auto;
        background-position: center;
        font-size: 3.5vh;
        letter-spacing: 0.5rem;
        text-align: center;
        color: transparent;
        -webkit-filter: drop-shadow(2px 2px 0.5px #000000);
    }

    .add-btn>img {
        width: 9vh;
        opacity: 75%;
        border: 0.15vh dashed black;
        border-radius: 1.4vh;
    }

    .display-cards {
        flex-basis: 40vh;
        padding: 2.5% 0% 2.5% 0%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1vh;
    }

    .display-cards>img {
        width: 9vh;
        height: auto;
        z-index: 1;
        animation-name: draw;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }


    .card-deck img {
        opacity: 0%;
        width: 10vh;
        position: absolute;
        animation: shuffle 1s ease-out 0.5s forwards;
        transform: scale(1.1, 1.1);
    }
}